.cover__content {
  height: 220px;
  background-image: url("../../../assets/images/img01.jpg");
  background-color: #efefef;
  background-size: cover;
  background-position: center center;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f5ca1;
  background-blend-mode: multiply;
}

@media screen and (min-width: 576px) {
  .cover__content {
    height: 240px;
  }
}

@media screen and (min-width: 768px) {
  .cover__content {
    height: 260px;
  }
}

@media screen and (min-width: 992px) {
  .cover__content {
    height: 280px;
  }
}

@media screen and (min-width: 1200px) {
  .cover__content {
    height: 300px;
  }
}

.cover__content h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  background-color: rgba(47, 92, 161, 0.7);
  padding: 20px 0;
  text-align: center;
  color: #efefef;
  text-shadow: 2px 2px 4px #090909;
  margin: 25px 0;
}

@media screen and (min-width: 576px) {
  .cover__content h1 {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 768px) {
  .cover__content h1 {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 992px) {
  .cover__content h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .cover__content h1 {
    font-size: 3.2rem;
  }
}

.cover__content h1::before {
  content: attr(data-title);
  position: absolute;
  font-size: 3.8rem;
  opacity: 0.2;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #efefef;
}

@media screen and (min-width: 576px) {
  .cover__content h1::before {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .cover__content h1::before {
    font-size: 4.2rem;
  }
}

@media screen and (min-width: 992px) {
  .cover__content h1::before {
    font-size: 4.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .cover__content h1::before {
    font-size: 4.8rem;
    top: 0;
  }
}
/*# sourceMappingURL=Cover.module.css.map */