@import '../../../assets/scss/helpers/variables';
@import '../../../assets/scss/helpers/mixins';

.cover__content {
    height: 220px;
    background-image: url("../../../assets/images/img01.jpg");
    background-color: $light;
    background-size: cover;
    background-position: center center;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    background-blend-mode: multiply;

    // Small devices (Phones, 576px and up)
    @include media-sm {
        height: 240px;
    } // end Small devices (Phones, 576px and up)

    // Medium devices (tablets, 768px and up)
    @include media-md {
        height: 260px;            
    } // end Medium devices (tablets, 768px and up)

    // Large devices (desktops, 992px and up)
    @include media-lg {
        height: 280px;
    } // end Large devices (desktops, 992px and up)

    // Extra large devices (large desktops, 1200px and up)
    @include media-xl {
        height: 300px;
    } // end Extra large devices (large desktops, 1200px and up)

    h1 {
        font-size: $default-fontSize * 2.4;
        text-transform: uppercase;
        position: relative;
        width: 100%;
        background-color: $blue-op07;
        padding: 20px 0;
        text-align: center;
        color: $light;
        text-shadow: 2px 2px 4px $dark;
        margin: 25px 0;

        // Small devices (Phones, 576px and up)
        @include media-sm {
            font-size: $default-fontSize * 2.6;                
        } // end Small devices (Phones, 576px and up)

        // Medium devices (tablets, 768px and up)
        @include media-md {
            font-size: $default-fontSize * 2.8;                
        } // end Medium devices (tablets, 768px and up)

        // Large devices (desktops, 992px and up)
        @include media-lg {
            font-size: $default-fontSize * 3;                
        } // end Large devices (desktops, 992px and up)

        // Extra large devices (large desktops, 1200px and up)
        @include media-xl {
            font-size: $default-fontSize * 3.2;                
        } // end Extra large devices (large desktops, 1200px and up)

        &::before {
            content: attr(data-title);
            position: absolute;
            font-size: $default-fontSize * 3.8;
            opacity: 0.2;
            top: 4px;
            left: 0;
            right: 0;
            bottom: 0;
            color: $light;

            // Small devices (Phones, 576px and up)
            @include media-sm {
                font-size: $default-fontSize * 4;                
            } // end Small devices (Phones, 576px and up)

            // Medium devices (tablets, 768px and up)
            @include media-md {
                font-size: $default-fontSize * 4.2;                
            } // end Medium devices (tablets, 768px and up)

            // Large devices (desktops, 992px and up)
            @include media-lg {
                font-size: $default-fontSize * 4.4;      
            } // end Large devices (desktops, 992px and up)

            // Extra large devices (large desktops, 1200px and up)
            @include media-xl {
                font-size: $default-fontSize * 4.8;
                top: 0;          
            } // end Extra large devices (large desktops, 1200px and up)
        }// end h1::before (&::before)
    }// end h1
}