.footer__content {
  color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.footer__blockOne {
  padding: 25px;
  background-color: #2f5ca1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (min-width: 576px) {
  .footer__blockOne {
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .footer__blockOne {
    padding: 60px;
  }
}

@media screen and (min-width: 992px) {
  .footer__blockOne {
    padding: 79px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__blockOne {
    padding: 100px;
  }
}

.footer__blockOne div {
  text-align: center;
}

.footer__blockOne div h4 {
  margin: 20px auto;
  width: 80%;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
  text-transform: uppercase;
  text-shadow: 0 0 3px #090909;
}

.footer__blockOne div:first-child {
  width: 100%;
}

.footer__blockOne div:first-child h4:first-child {
  margin-top: 0;
}

.footer__blockOne div:first-child table {
  min-width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  border: 2px solid #090909;
  -webkit-box-shadow: 0 0 5px #090909;
          box-shadow: 0 0 5px #090909;
  background-color: #ffffff;
  color: #090909;
}

.footer__blockOne div:first-child table th {
  text-transform: uppercase;
}

.footer__blockOne div:first-child table tr,
.footer__blockOne div:first-child table th,
.footer__blockOne div:first-child table td {
  border: 1px solid #090909;
  padding: 5px 10px;
}

.footer__blockOne div:nth-child(2), .footer__blockOne div:last-child {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__blockOne div:nth-child(2), .footer__blockOne div:last-child {
    width: 50%;
  }
}

.footer__blockOne div:nth-child(2) address, .footer__blockOne div:last-child address {
  width: 100%;
  margin: 0 auto;
  background-color: #efefef;
  padding: 25px;
  color: #2f5ca1;
  -webkit-box-shadow: inset 0 0 30px #2f5ca1, 0 0 5px #090909;
          box-shadow: inset 0 0 30px #2f5ca1, 0 0 5px #090909;
  border: 2px solid #090909;
}

.footer__blockOne div:nth-child(2) address span, .footer__blockOne div:last-child address span {
  color: #ee3f41;
  font-size: 1.6rem;
  text-shadow: 0 0 2px #090909;
}

@media screen and (min-width: 768px) {
  .footer__blockOne div:nth-child(2) address, .footer__blockOne div:last-child address {
    width: 90%;
    height: 140px;
  }
}

.footer__blockTwo {
  padding: 25px;
  background-color: #090909;
  text-align: center;
  font-size: 0.7rem;
}
/*# sourceMappingURL=Footer.module.css.map */