@import '../../../assets/scss/helpers/variables';
@import '../../../assets/scss/helpers/mixins';

.footer__content {
    color: $light;
    display: flex;
    flex-flow: column wrap;
}


.footer__blockOne {
    padding: 25px;
    background-color: $bg-blue;
    display: flex;
    flex-flow: row wrap;

    @include media-sm { padding: 40px; }
    @include media-md { padding: 60px; }
    @include media-lg { padding: 79px; }
    @include media-xl { padding: 100px; }

    div {
        text-align: center;
        h4 {
            margin: 20px auto;
            width: 80%;
            padding-bottom: 10px;
            border-bottom: 1px solid $light;
            text-transform: uppercase;
            text-shadow: 0 0 3px $dark;
        }

        &:first-child {
            width: 100%;
            h4 {
                &:first-child {
                    margin-top: 0;
                }
            }
            table {
                min-width: 100%;
                margin: 20px 0;
                border-collapse: collapse;
                border: 2px solid $bg-dark;
                box-shadow: 0 0 5px $dark;
                background-color: $bg-white;
                color: $dark;
                th {
                    text-transform: uppercase;
                }
                tr,
                th,
                td {
                    border: 1px solid $dark;
                    padding: 5px 10px;
                }
            }
        } // end $:first-child (tableau horaires)

        &:nth-child(2),
        &:last-child {
            width: 100%;
            @include media-md {
                width: 50%;
            }
            address {
                width: 100%;
                margin: 0 auto;
                background-color: $light;
                padding: 25px;
                color: $blue;
                box-shadow: inset 0 0 30px $blue,
                            0 0 5px $dark;
                border: 2px solid $dark;
                span {
                    color: $red;
                    font-size: $default-fontSize * 1.6;
                    text-shadow: 0 0 2px $dark;
                }
                @include media-md {
                    width: 90%;
                    height: 140px;
                }
            }
        }

    }
}

.footer__blockTwo {
    padding: 25px;
    background-color: $bg-dark;
    text-align: center;
    font-size: $default-fontSize * 0.7;
}
