@import '../../../assets/scss/helpers/variables';
@import '../../../assets/scss/helpers/mixins';

.syner__container {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    svg {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        max-width: 100%;
    } // end svg

    p {
        font-size: $default-fontSize * 1.2;
        font-family: $fontContent;
        text-align: center;
        margin-bottom: 50px;;
    } // end p

    button {
        border: 1px solid $blue;
        background-color: $bg-white;
        transition: all 0.7s linear;
        a {
            padding: 10px 20px;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: $blue;
            width: 100%;
            height: 100%;
            transition: all 0.7s linear;
            &:hover {
                color: $bg-white;
            }
        }
        &:hover {
            background-color: $blue;
            color: $bg-white;
        }
    }

} // end .syner__container