.syner__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.syner__container svg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  max-width: 100%;
}

.syner__container p {
  font-size: 1.2rem;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.syner__container button {
  border: 1px solid #2f5ca1;
  background-color: #ffffff;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.syner__container button a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #2f5ca1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.syner__container button a:hover {
  color: #ffffff;
}

.syner__container button:hover {
  background-color: #2f5ca1;
  color: #ffffff;
}
/*# sourceMappingURL=Syner.module.css.map */