@import '../../../assets/scss/helpers/variables';
@import '../../../assets/scss/helpers/mixins';

.contact__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "paragraphe"
        "div"
    ;
    background-color: $light;
    @include media-xl {
        grid-template-rows: 125px 1fr;
    }

    p {
        font-family: $fontContent;
        font-size: $default-fontSize * 1.2;
        grid-area: paragraphe;
        padding: 50px 25px 0;
        @include media-xl {
            text-align: center;
        }
    }

    div {
        grid-area: div;
        @include media-xl {
            display: flex;
        }
        form {
            padding: 50px 25px;
            @include media-xl {
                padding: 0 25px 100px 50px;
                flex-shrink: 1;
                min-width: 50%;
            }

            select,
            input,
            textarea, 
            button {
                width: 100%;
                margin: 10px 0;
            }
            input {
                margin-bottom: 5px;
            }
            select,
            button {
                cursor: pointer;
            }
            button {
                border-radius: none;
                padding: 5px 10px;
                text-transform: uppercase;
            }
            textarea,
            input {
                padding: 5px;
            }
            
            small {
                display: block;
                color: $red;
                text-align: center;
            }
        }
        iframe {
            width: 100%;
            @include media-xl {
                width: 50%;
                height: 100%;
                flex-shrink: 0;
                padding: 0 50px 100px 25px;
                filter: drop-shadow(0 0 5px lighten($dark, 50%));
            }
        }
    }
}