.contact__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
      grid-template-areas: "paragraphe" "div";
  background-color: #efefef;
}

@media screen and (min-width: 1200px) {
  .contact__content {
    -ms-grid-rows: 125px 1fr;
        grid-template-rows: 125px 1fr;
  }
}

.contact__content p {
  font-family: sans-serif;
  font-size: 1.2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: paragraphe;
  padding: 50px 25px 0;
}

@media screen and (min-width: 1200px) {
  .contact__content p {
    text-align: center;
  }
}

.contact__content div {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: div;
}

@media screen and (min-width: 1200px) {
  .contact__content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact__content div form {
  padding: 50px 25px;
}

@media screen and (min-width: 1200px) {
  .contact__content div form {
    padding: 0 25px 100px 50px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    min-width: 50%;
  }
}

.contact__content div form select,
.contact__content div form input,
.contact__content div form textarea,
.contact__content div form button {
  width: 100%;
  margin: 10px 0;
}

.contact__content div form input {
  margin-bottom: 5px;
}

.contact__content div form select,
.contact__content div form button {
  cursor: pointer;
}

.contact__content div form button {
  border-radius: none;
  padding: 5px 10px;
  text-transform: uppercase;
}

.contact__content div form textarea,
.contact__content div form input {
  padding: 5px;
}

.contact__content div form small {
  display: block;
  color: #ee3f41;
  text-align: center;
}

.contact__content div iframe {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .contact__content div iframe {
    width: 50%;
    height: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0 50px 100px 25px;
    -webkit-filter: drop-shadow(0 0 5px #898989);
            filter: drop-shadow(0 0 5px #898989);
  }
}
/*# sourceMappingURL=Contact.module.css.map */