@import '../../../assets/scss/helpers/variables';
@import '../../../assets/scss/helpers/mixins';

.about__content {
    padding: 25px;
    background-color: $bg-white;
	min-width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"contentPresentation"
		"contentHistorique"
		"contentStats"
		"contentConfiance"
		"contentExemple"
	;

    // Medium devices (tablets, 768px and up)
	@include media-md {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-template-rows: 1fr 0.2fr;
		grid-gap: 50px 25px;
		grid-template-areas: 
			"contentPresentation contentHistorique"
			"contentStats contentStats"
			"contentConfiance contentConfiance"
			"contentExemple contentExemple"
		;
	}

    div {
		margin-bottom: 25px;
		&:first-child {
			grid-area: contentPresentation;
		}
		&:nth-child(2) {
			grid-area: contentHistorique;
		}
		&:nth-child(3) {
			grid-area: contentStats;
			margin: 25px 0;
			display: flex;
			flex-flow: row wrap;
			@include media-md {
				margin: 0px 0;
			}

			div {
				border: 1px solid;
				display: block;
				max-width: 50%;
				min-width: 50%;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				text-transform: uppercase;
				padding-top: 10px;
				margin: 0;
				height: 100px;
				background-color: $dark;
				color: $bg-white;
				position: relative;

				@include media-md {
					min-width: 25%;
					max-width: 25%;
				}

				&::before {
					content: attr(data-stats);
					position: absolute;
					bottom: 5px;
					font-size: $default-fontSize * 2.5;
					opacity: 0.5;
				}
			}
		}
		&:nth-child(4) {
			grid-area: contentConfiance;
			div {
				display: flex;
				align-items: flex-start;
				justify-content: space-evenly;
				flex-flow: row wrap;
				figure {
					width: 50%;
					box-shadow: inset 0 0 50px $light;
					flex-grow: 0;
					flex-shrink: 1;
					@include media-sm {
						width: 33%;
					}
					@include media-md {
						width: 25%;
					}
					@include media-lg {
						width: 20%;
					}
					img {
						height: auto;
						transition: all 0.7s ease-in-out;
						filter: grayscale(100%);
						&:hover {
							filter: grayscale(0%);
						}
					}
					figcaption {
						background-color: $blue;
						color: $light;
						font-weight: 700;
						padding: 5px 0;

					}
				}
			}
		}
		&:last-child {
			grid-area: contentExemple;
		}// end div:last-child ( &:last-child)

		h2 {
			font-size: $default-fontSize * 2;
			text-shadow: 1px 1px 2px $dark;
			color: $blue;
			border-bottom: 2px solid;
			border-color: $dark;
			width: 100%;
			margin: 0 0 10px;
			font-family: $fontTitle;
		}// end h2

		figure {
			flex-shrink: 0;
			padding: 10px;
			margin: 0 auto;
			text-align: center;
			img {
				display: inline-block;
				padding: 15px 5px 0;
				height: 200px;
				margin: 0 auto;
			}
			figcaption {
				display: block;
				padding-left: 15px;
			}
		}
		img {
			padding: 15px 5px 0;			
		}


		p {
			padding: 10px 0;
			letter-spacing: 1px;
			font-family: $fontContent;
			text-align: left;
        }
	}// end div

}
