.about__content {
  padding: 25px;
  background-color: #ffffff;
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "contentPresentation" "contentHistorique" "contentStats" "contentConfiance" "contentExemple";
}

@media screen and (min-width: 768px) {
  .about__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    -ms-grid-rows: 1fr 0.2fr;
        grid-template-rows: 1fr 0.2fr;
    grid-gap: 50px 25px;
        grid-template-areas: "contentPresentation contentHistorique" "contentStats contentStats" "contentConfiance contentConfiance" "contentExemple contentExemple";
  }
}

.about__content div {
  margin-bottom: 25px;
}

.about__content div:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contentPresentation;
}

.about__content div:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contentHistorique;
}

.about__content div:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contentStats;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (min-width: 768px) {
  .about__content div:nth-child(3) {
    margin: 0px 0;
  }
}

.about__content div:nth-child(3) div {
  border: 1px solid;
  display: block;
  max-width: 50%;
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding-top: 10px;
  margin: 0;
  height: 100px;
  background-color: #090909;
  color: #ffffff;
  position: relative;
}

@media screen and (min-width: 768px) {
  .about__content div:nth-child(3) div {
    min-width: 25%;
    max-width: 25%;
  }
}

.about__content div:nth-child(3) div::before {
  content: attr(data-stats);
  position: absolute;
  bottom: 5px;
  font-size: 2.5rem;
  opacity: 0.5;
}

.about__content div:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contentConfiance;
}

.about__content div:nth-child(4) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.about__content div:nth-child(4) div figure {
  width: 50%;
  -webkit-box-shadow: inset 0 0 50px #efefef;
          box-shadow: inset 0 0 50px #efefef;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media screen and (min-width: 576px) {
  .about__content div:nth-child(4) div figure {
    width: 33%;
  }
}

@media screen and (min-width: 768px) {
  .about__content div:nth-child(4) div figure {
    width: 25%;
  }
}

@media screen and (min-width: 992px) {
  .about__content div:nth-child(4) div figure {
    width: 20%;
  }
}

.about__content div:nth-child(4) div figure img {
  height: auto;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about__content div:nth-child(4) div figure img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.about__content div:nth-child(4) div figure figcaption {
  background-color: #2f5ca1;
  color: #efefef;
  font-weight: 700;
  padding: 5px 0;
}

.about__content div:last-child {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: contentExemple;
}

.about__content div h2 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px #090909;
  color: #2f5ca1;
  border-bottom: 2px solid;
  border-color: #090909;
  width: 100%;
  margin: 0 0 10px;
  font-family: serif;
}

.about__content div figure {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.about__content div figure img {
  display: inline-block;
  padding: 15px 5px 0;
  height: 200px;
  margin: 0 auto;
}

.about__content div figure figcaption {
  display: block;
  padding-left: 15px;
}

.about__content div img {
  padding: 15px 5px 0;
}

.about__content div p {
  padding: 10px 0;
  letter-spacing: 1px;
  font-family: sans-serif;
  text-align: left;
}
/*# sourceMappingURL=About.module.css.map */