@import '../../../../assets/scss/helpers/variables';
@import '../../../../assets/scss/helpers/mixins';

.card__content {
    width: 50%;
    padding: 25px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            text-align: center;
        }
        figcaption {
            padding-top: 5px;
            font-weight: 700;
            font-size: $default-fontSize * 0.7;
        }
    }
}