@import "../../../../assets/scss/helpers/variables";
@import "../../../../assets/scss/helpers/mixins";

.catalogues__content {
    background-color: $light;
    padding: 10px;
    text-align: center;
    font-family: $fontContent;
    font-size: $default-fontSize * 1.1;
    p {
        max-width: 80%;
        margin: 0 auto;
        padding: 50px 5px;
    }
    div {
        margin:  0;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}
