.catalogues__content {
  background-color: #efefef;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.1rem;
}

.catalogues__content p {
  max-width: 80%;
  margin: 0 auto;
  padding: 50px 5px;
}

.catalogues__content div {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=CataloguesList.module.css.map */