.baseStructure__container {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 64px 1fr 150px 500px;
      grid-template-rows: 64px 1fr 150px 500px;
      grid-template-areas: "navbar" "contentPage" "aside" "footer";
}

@media screen and (min-width: 576px) {
  .baseStructure__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 64px 1fr 150px 400px;
        grid-template-rows: 64px 1fr 150px 400px;
        grid-template-areas: "navbar navbar" "contentPage contentPage" "aside aside" "footer footer";
  }
}

@media screen and (min-width: 992px) {
  .baseStructure__container {
    -ms-grid-columns: 220px 1fr 1fr;
        grid-template-columns: 220px 1fr 1fr;
    -ms-grid-rows: 1fr 200px auto;
        grid-template-rows: 1fr 200px auto;
        grid-template-areas: "navbar contentPage contentPage" "navbar aside aside" "navbar footer footer";
  }
}

@media screen and (min-width: 1200px) {
  .baseStructure__container {
    -ms-grid-columns: 250px 1fr 1fr;
        grid-template-columns: 250px 1fr 1fr;
    -ms-grid-rows: 1fr 200px auto;
        grid-template-rows: 1fr 200px auto;
        grid-template-areas: "navbar contentPage contentPage" "navbar aside aside" "navbar footer footer";
  }
}

.baseStructure__container nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar;
}

.baseStructure__container header {
  grid-area: headerPage;
}

.baseStructure__container div {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contentPage;
}

.baseStructure__container aside {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aside;
  background-color: #ee3f41;
}

.baseStructure__container footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #090909;
}

.baseStructure__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 64px;
  min-width: 100%;
  background-color: #090909;
}

@media screen and (min-width: 992px) {
  .baseStructure__navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 100%;
  }
}

.baseStructure__navbar a {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media screen and (min-width: 992px) {
  .baseStructure__navbar a {
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.baseStructure__navbar a figure svg {
  height: 64px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .baseStructure__navbar a figure svg {
    height: auto;
  }
}

.baseStructure__navbar span,
.baseStructure__navbar ul {
  display: none;
}

@media screen and (min-width: 992px) {
  .baseStructure__navbar span,
  .baseStructure__navbar ul {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .baseStructure__navbar span {
    margin-top: 0;
    display: block;
    background-color: #ffffff;
    color: #090909;
    text-align: center;
    padding: 0 18px 10px;
    font-size: 0.65rem;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 104px;
  }
}

@media screen and (min-width: 1200px) {
  .baseStructure__navbar span {
    top: 117.5px;
  }
}

@media screen and (min-width: 992px) {
  .baseStructure__navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 50px;
    background-color: #090909;
    padding: 25px 0 25px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 220px;
  }
  .baseStructure__navbar ul ul {
    margin-top: 0;
  }
}

.baseStructure__navbar ul li {
  margin: 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: none;
  width: 90%;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-top: #090909 2px solid;
  border-bottom: #090909 2px solid;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.baseStructure__navbar ul li:hover {
  border-top: #ffffff 2px solid;
  border-bottom: #ffffff 2px solid;
}

.baseStructure__navbar ul li:hover a {
  color: #ee3f41;
}

.baseStructure__navbar ul li a {
  text-decoration: none;
  background-color: transparent;
  font-size: 0.8rem;
  color: #ffffff;
}

.baseStructure__navbar ul li a:active, .baseStructure__navbar ul li a:focus {
  font-weight: 700;
  color: #ee3f41;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .baseStructure__navbar ul li a {
    font-size: 1.2rem;
    display: block;
    padding: 5px 0;
  }
}

.baseStructure__navbar button {
  background-color: transparent;
  width: 64px;
  height: 64px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .baseStructure__navbar button {
    display: none;
  }
}

.baseStructure__navbar button svg {
  -webkit-transition: all 0.7ms ease-in-out;
  transition: all 0.7ms ease-in-out;
  color: #efefef;
  min-width: 100%;
  height: auto;
}

.baseStructure__navbar button svg:hover {
  color: #ee3f41;
}

.show {
  z-index: 99999;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #090909;
  color: #efefef;
  height: 80%;
  width: 90%;
}

@media screen and (min-width: 576px) {
  .show {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .show {
    width: 50%;
  }
}

.show h1 {
  padding: 25px 0;
  text-align: center;
  font-family: serif;
  font-size: 1rem;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.show .show__container {
  height: 200px;
  background-color: #ffffff;
  z-index: 9999;
}

.show .show__container ul {
  height: 200px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.show .show__container ul li {
  width: 80%;
  height: 32px;
  line-height: 32px;
  border-top: 1px solid #090909;
  border-bottom: 1px solid #090909;
}

.show .show__container ul li:first-child, .show .show__container ul li:nth-child(2) {
  border-bottom: none;
}

.show .show__container ul li:last-child {
  border-top: none;
}

.show .show__container ul li:hover a {
  color: #ee3f41;
}

.show .show__container ul li a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  background-color: transparent;
  font-size: 1.1rem;
  color: #2f5ca1;
}

.show .show__container ul li a:active, .show .show__container ul li a:focus {
  font-weight: 700;
  color: #ee3f41;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .show .show__container ul li a {
    font-size: 1.2rem;
    display: block;
    padding: 5px 0;
  }
}

.show footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
  font-size: 1rem;
}

.btnCatalogue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70%;
  margin: 20px auto 0;
  padding: 2px 10px;
  background-color: #ee3f41 !important;
  border: 2px solid #ffffff !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  font-size: 0.9rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btnCatalogue svg {
  font-size: 1.2rem;
}

.btnCatalogue:hover {
  background-color: #2f5ca1 !important;
  border: 2px solid #090909 !important;
  color: #ffffff;
}

.aside__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: fixed;
  background-image: url("../../../assets/images/img02.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 5px solid #090909;
  border-bottom: 5px solid #090909;
  border-right: 5px solid #090909;
}

.aside__content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  background-color: #efefef !important;
  border: 2px solid #090909 !important;
  text-decoration: none;
  text-transform: uppercase;
  color: #ee3f41;
  font-weight: 700;
  font-size: 0.9rem;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px -2px #090909;
          box-shadow: 0 2px 5px -2px #090909;
  text-shadow: 0 0 1px #090909;
}

@media screen and (min-width: 992px) {
  .aside__content a {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .aside__content a {
    width: 50%;
  }
}

.aside__content a svg {
  font-size: 2.2rem;
}

@media screen and (min-width: 576px) {
  .aside__content a svg {
    font-size: 1.3rem;
  }
}

.aside__content a:hover {
  background-color: #ffffff !important;
  border: 2px solid #090909 !important;
  -webkit-box-shadow: 0 6px 8px -4px #090909;
          box-shadow: 0 6px 8px -4px #090909;
}
/*# sourceMappingURL=BaseStructure.module.css.map */