@import '../../../assets/scss/helpers/variables';
@import '../../../assets/scss/helpers/mixins';

.baseStructure__container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 150px 500px;
    grid-template-areas:
        "navbar"
        "contentPage"
        "aside"
        "footer";

    @include media-sm {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 64px 1fr 150px 400px;
        grid-template-areas:
            "navbar navbar"
            "contentPage contentPage"
            "aside aside"
            "footer footer";
    }

    @include media-lg {
        grid-template-columns: 220px 1fr 1fr;
        grid-template-rows: 1fr 200px auto;
        grid-template-areas:
            "navbar contentPage contentPage"
            "navbar aside aside"
            "navbar footer footer";
    }

    @include media-xl {
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: 1fr 200px auto;
        grid-template-areas:
            "navbar contentPage contentPage"
            "navbar aside aside"
            "navbar footer footer";
    }

    nav {
        grid-area: navbar;
    }
    
    header {
        grid-area: headerPage;
    }

    div {
        grid-area: contentPage;
    }

    aside {
        grid-area: aside;
        background-color: $bg-red;
    }

    footer {
        grid-area: footer;
        background-color: $bg-dark;
    }
}

.baseStructure__navbar {
    display: flex;
    justify-content: space-between;
    max-height: 64px;
    min-width: 100%;
    background-color: $bg-dark;

    // Large devices (desktops, 992px and up)
    @include media-lg {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 100%;
    }

    a {
        width: 100%;
        height: 64px;
        background-color: $bg-white;
        display: flex;
        flex-shrink: 1;


        // Large devices (desktops, 992px and up)
        @include media-lg {
            height: auto;
            position: sticky;
            top: 0;
        }

        figure {
            svg {
                height: 64px;
                width: 100%;
                @include media-lg {
                    height: auto;
                }
            }//end svg
        }// end figure
    }// end a

    span,
    ul {
        display: none;        
        // Large devices (desktops, 992px and up)
        @include media-lg {
            display: block;
        }
    }// end span et ul

    span {
        // Large devices (desktops, 992px and up)
        @include media-lg {
            margin-top: 0;
            display: block;
            background-color: $bg-white;
            color: $dark;
            text-align: center;
            padding: 0 18px 10px;
            font-size: $default-fontSize * 0.65;
            letter-spacing: 1.3px;
            text-transform: uppercase;
            width: 100%;
            position: sticky;
            top: 104px;
        }
        @include media-xl {
            top: 117.5px;
        }
    }// end span

    ul {
        // Large devices (desktops, 992px and up)
        @include media-lg {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 50px;
            background-color: $bg-dark;
            padding: 25px 0 25px 0;
            position: sticky;
            top: 220px;

            ul {
                margin-top: 0;
            }// end ul ul
        } // end media-lg
        
        li {
            margin: 0 auto;
            align-items: flex-start;
            list-style-type: none;
            width: 90%;
            line-height: 25px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            border-top: $dark 2px solid;
            border-bottom: $dark 2px solid;
            transition: all 0.7s ease-in-out;
            
            &:hover {
                border-top: $bg-white 2px solid;
                border-bottom: $bg-white 2px solid;
                a {
                    color: $red;
                }
            }// end li:hover
            
            a {
                text-decoration: none;
                background-color: transparent;
                font-size: $default-fontSize * 0.8;
                color: $bg-white;
                
                &:active,
                &:focus {
                    font-weight: 700;
                    color: $red;
                    outline: none;
                }// end a:active

                // Large devices (desktops, 992px and up)
                @include media-xl {
                    font-size: $default-fontSize * 1.2;
                    display: block;
                    padding: 5px 0;
                } // end media-lg

            }// end a

        }// end li
    }// end ul

    button {
        background-color: transparent;
        width: 64px;
        height: 64px;
        outline: none;
        border: none;
        cursor: pointer;

        @include media-lg {
            display: none;
        }

        svg {
            transition: all 0.7ms ease-in-out;
            color: $light;
            min-width: 100%;
            height: auto;

            &:hover {
                color: $red;
            }// svg:hover

        } // end svg
    } // end button

}

.show {
    z-index: 99999;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: $bg-dark;
    color: $light;
    height: 80%;
    width: 90%;

    // // Small devices (Phones, 576px and up)
    @include media-sm {
        width: 70%;
    }

    // // Medium devices (tablets, 768px and up)
    @include media-md {
        width: 50%;
    }

    h1 {
        padding: 25px 0;
        text-align: center;
        font-family: $fontTitle;
        font-size: $default-fontSize * 1;
        letter-spacing: 1.2px;
        color: $bg-white;
    } // end h1

    .show__container {
        height: 200px;
        background-color: $bg-white;
        z-index: 9999;
        
        ul {
            height: 200px;
            display: block;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            padding: 0;

            li {
                width: 80%;
                height: 32px;
                line-height: 32px;
                border-top: 1px solid $bg-dark;
                border-bottom: 1px solid $bg-dark;
                &:first-child,
                &:nth-child(2) {
                    border-bottom: none;
                }
                &:last-child {
                    border-top: none;
                }
                &:hover {
                    a {
                        color: $red;
                    }
                }

                a {
                    transition: all 0.5s ease-in-out;
                    text-transform: uppercase;
                    display: block;
                    text-decoration: none;
                    background-color: transparent;
                    font-size: $default-fontSize * 1.1;
                    color: $bg-blue;
                    
                    &:active,
                    &:focus {
                        font-weight: 700;
                        color: $red;
                        outline: none;
                    }// end a:active

                    // Large devices (desktops, 992px and up)
                    @include media-xl {
                        font-size: $default-fontSize * 1.2;
                        display: block;
                        padding: 5px 0;
                    } // end media-lg

                }
            }
        }
        
        
    } // end .show__container
    

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 20px;
        font-size: $default-fontSize;
    }
} // end show

.btnCatalogue {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 70%;
    margin: 20px auto 0;
    padding: 2px 10px;
    background-color: $bg-red !important;
    border: 2px solid $bg-white !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $bg-white;
    border: none;
    font-size: $default-fontSize * 0.9;
    transition: all 0.4s ease-in-out;
    svg {
        font-size: $default-fontSize * 1.2;
    }// end svg
    &:hover {
        background-color: $bg-blue!important;
        border: 2px solid $bg-dark !important;
        color: $bg-white;
    }
}// end btnCatalogue


.aside__content {
    display: flex;
    align-items: center;
    justify-content: center;

    background-attachment: fixed;
    background-image: url('../../../assets/images/img02.png');
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 5px solid $dark;
    border-bottom: 5px solid $dark;
    border-right: 5px solid $dark;

    a {
        display: flex;
        width: 70%;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: $light !important;
        border: 2px solid $bg-dark !important;
        text-decoration: none;
        text-transform: uppercase;
        color: $bg-red;
        font-weight: 700;
        font-size: $default-fontSize * 0.9;
        transition: all 0.7s ease-in-out;
        border-radius: 5px;
        box-shadow: 0 2px 5px -2px $dark;
        text-shadow: 0 0 1px $dark;

        @include media-lg {
            width: 60%;
        }

        @include media-xl {
            width: 50%;
        }

        svg {
            font-size: $default-fontSize * 2.2;
            @include media-sm {font-size: $default-fontSize * 1.3;}
        }// end svg
        &:hover {
            background-color: $bg-white!important;
            border: 2px solid $bg-dark !important;
            box-shadow: 0 6px 8px -4px $dark;
        }
    }

}