@import './assets/scss/reset/reset';
@import './assets/scss/helpers/variables';
@import './assets/scss/helpers/mixins';

body {
    margin: 0;
    min-height: 100vh;
}
strong {
    color: $red;
}
em {
    color: $blue;
}
::selection {
    background-color: $bg-blue;
    color: $bg-white;
}