@import './variables';

// Small Devices
@mixin media-sm( $defaultSize: $media-sm ) {
    @media screen and (min-width: $defaultSize) {
        &{ @content; }
    }
}

// Medium Devices
@mixin media-md( $defaultSize: $media-md ) {
    @media screen and (min-width: $defaultSize) {
        &{ @content; }
    }
}

// Large Devices
@mixin media-lg( $defaultSize: $media-lg ) {
    @media screen and (min-width: $defaultSize) {
        &{ @content; }
    }
}

// Extra Large Devices
@mixin media-xl( $defaultSize: $media-xl ) {
    @media screen and (min-width: $defaultSize) {
        &{ @content; }
    }
}
