// Couleurs Logo
$blue : #2f5ca1;
$red : #ee3f41;

// Couleurs + opacity 0.5
$blue-op05 : rgba(47, 92, 161, 0.5);
$red-op05 : rgba(238, 63, 65, 0.5);
// Couleurs + opacity 0.6
$blue-op06 : rgba(47, 92, 161, 0.6);
$red-op06 : rgba(238, 63, 65, 0.6);
// Couleurs + opacity 0.7
$blue-op07 : rgba(47, 92, 161, 0.7);
$red-op07 : rgba(238, 63, 65, 0.7);
// Couleurs + opacity 0.8
$blue-op08 : rgba(47, 92, 161, 0.8);
$red-op08 : rgba(238, 63, 65, 0.8);
// Couleurs + opacity 0.9
$blue-op09 : rgba(47, 92, 161, 0.9);
$red-op09 : rgba(238, 63, 65, 0.9);

// Couleurs
$dark: #090909;
$light: #efefef;

// background-color
$bg-white : #ffffff;
$bg-dark : $dark;
$bg-red : $red;
$bg-blue : $blue;


// Font-size
$default-fontSize: 1rem;

// Font-family
$fontTitle: serif;
$fontContent: sans-serif;

// Breakpoints
// Small tablets and large smartphones (landscape view)
$media-sm: 576px;
// Small tablets (portrait view)
$media-md: 768px;
// Tablets and small desktops
$media-lg: 992px;
// Large tablets and desktops
$media-xl: 1200px;
